.order_info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 20px;
  padding: 20px;

  .header {
    font-weight: 600;
    padding-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .content {
      display: flex;
      font-size: 26px;
      color: #808080;
    }

  }

  .container:nth-of-type(1) {
    .content {
      .text2 {
        color: #1e90ff;
        padding-left: 15px;
      }
    }

  }
}
