page {
  background-color: #f5f5f5;
}

.index {
  .user_info {
    background-color: #fff;
    margin: 20px 0;

    .info_list {
      display: flex;
      border-bottom: 3px solid #d3d3d3;
    }

    .topline {
      border-top: 3px solid #d3d3d3;
    }

    .gender {
      display: flex;
      justify-content: center;

      .container {
        display: flex;
        margin: 20px 0;

        .text {
          border: 1px solid #d3d3d3;
          padding: 10px 40px;
          margin-right: 30px;
        }
      }


    }

  }

}
